@model IEnumerable<Evid.Models.Spot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpotName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpotName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpotId }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.SpotId })
        </td>
    </tr>
}

</table>
